#game-container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-bottom: 50px;
}

#guess-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#guess-input {
    width: 100px;
    padding: 12px 20px;
    margin: 0 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
